*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 620px;
    width: 600px;
    background: #DBE2EF;
    display: block;
    position: relative;
    margin-top: 5%;
    border-radius: 5%;
}
.content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
}
input {
    border:none;
    padding: 1.5%;
    width:30%;
    border-radius: 10px;
    margin-top: 1.5%;
}
input:hover{
    border: 2px solid black;
}
.form {
    margin-left: 5%;
}
.name {
    margin-left: 3%;
}
.put {
    margin-left: -12%;
}
#but {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    margin-left: 140px;
    border: none;
    border-radius: 10px;
}
#but:hover{
    border: 2px solid black;
    box-shadow: 5px 5px black;
    background-color: rgb(5, 240, 5);
    transition-duration: 1s;
}
.member  {
    display: flex;
    position: relative;
    left: 150px;
    margin-top: 10px;
}
.member a {
    text-decoration: none;
}
.shift {
    height: 40px;
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
}
#button1{
    margin-left: 190px;
    border: none;
}
#button1:hover{
    background: rgb(77, 77, 167);
    cursor: pointer;
    translate: -1px;
}
#button2 {
    margin-left: -20px;
}
#button2:hover{
    background: rgb(59, 156, 59);
    cursor: pointer;
}